.uni-grid-item.data-v-422d9242{height:100%;display:flex}.uni-grid-item__box.data-v-422d9242{display:flex;width:100%;position:relative;flex:1;flex-direction:column}.uni-grid-item--border.data-v-422d9242{position:relative;border-bottom-color:#e5e5e5;border-bottom-style:solid;border-bottom-width:1px;border-right-color:#e5e5e5;border-right-style:solid;border-right-width:1px}.uni-grid-item--border-top.data-v-422d9242{border-top-color:#e5e5e5;border-top-style:solid;border-top-width:1px;height:100%;box-sizing:border-box}.uni-highlight.data-v-422d9242:active{background-color:#f1f1f1}