.lucky-box.data-v-ea5b0b9c{position:relative;overflow:hidden}.lucky-box canvas.data-v-ea5b0b9c{position:absolute;pointer-events:none}.lucky-wheel-btn.data-v-ea5b0b9c{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:transparent;border-radius:50%}.lucky-imgs.data-v-ea5b0b9c{width:0;height:0;visibility:hidden}